.popup__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    color: rgb(0, 0, 0);
    width: 83%;
    margin: 30px 8% 0 8%;
    padding-bottom: 13px;
    border-width: 0;
    outline:none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.popup__input:invalid {
    border-bottom: 1px solid #FF0000;
}