 .popup__container {
     display: flex;
     flex-direction: column;
     width: 430px;
     position: absolute;
     box-shadow: rgba(0, 0, 0, 0.15) 0 0 25px;
     opacity: 2;
     z-index: 2;
     background: rgb(255, 255, 255);
     border-radius: 10px;
     left: 50%;
     top: 50%;
     margin-left: -215px;
     margin-top: -173px;
 }
 @media screen and (max-width: 767px) {
      .popup__container {
           width: 88%;
           left: 50%;
           top: 50%;
           margin-left: -142px;
           margin-top: -169px;

      }
 }

