.profile {
    display: flex;
    justify-content: flex-start;
    margin: 36.25px 0 47.25px;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        margin: 0;
    }
}
