.profile__edit {
    height: 24px;
    cursor: pointer;
    align-self: center;
    background-image: url(../../../images/edit.svg);
    width: 24px;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .profile_edit {
        width: 18px;
        height: 18px;

    }
}
