.popup__save {
    text-align: center;
    width: 83%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 2px;
    margin: 48px auto 37px;
    }

.popup__save:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__save {
        font-size: 14px;
    }
}