.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
}
@media screen and (max-width: 767px) {
    .elements {
        width: 88.125%;
        margin: 0 auto;
    }
}