.place__delete {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    background: url(../../../images/trash.svg) no-repeat center center;
    background-size: 18px 19px;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity ease .5s;
    z-index: 1;
}

.place__delete:hover {
    opacity: .6;
}