.popup__submit {
    text-align: center;
    width: 83%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 2px;
    margin: 31px 8% 37px 8%;
    }

.popup__submit:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__submit {
        font-size: 14px;
    }
}