.popup__submit_disabled {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    opacity: .2;
    cursor: default;
}

.popup__submit_disabled:hover {
    opacity: .2;
}
