.popup__close {
    width: 57px;
    height: 57px;
    position: absolute;
    top: -50px;
    right: -50px;
    background-image: url(../../../images/close.svg);
    background-size: cover;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 37px;
        height: 37px;
        top: -40px;
        right: 0px;
    }
}