.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    padding-right: 18px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 92%;

  }


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profile__name {
        width: 90%;
    }
}


@media screen and (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 1.22;
        padding-right: 15.25px;
    }
}