.profile__picture {
    height: 125.5px;
    width: 125.5px;
    margin: 1px 21.625px 1px 0;
    border-radius: 50%;
}
@media screen and (max-width: 767px) {
    .profile__picture {
        margin: 1px;
    }
}
