.button_like {
    height: 19px;
    width: 22px;
    margin: auto 0;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.button_like:focus {
    background-image: url(../../../images/likeChosen.svg);

    opacity: 1;
}
.button_like:focus:hover {
    opacity: 1;
}



